@{
    ViewBag.Title = "About";
}

<section class="about">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Who
                    <small class="text-muted">Am I?</small>
                </h3>
                <blockquote class="blockquote">
                    <p class="mb-0">Hi I'm Afzal Hossain Sagar </p><small class="text-muted">On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</small>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header text-center bg-primary">1</div>
                    <div class="card-body">
                        <h4 class="card-title text-center">Web Design</h4>
                        <p class="card-text text-center">Web design refers to the design of websites that are displayed on the internet. It refers to the user experience aspects of website development.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header text-center bg-primary">2</div>
                    <div class="card-body">
                        <h4 class="card-title text-center">Software</h4>
                        <p class="card-text text-center">Software is a collection of instructions and data that tell the computer how to work. This is in contrast to physical hardware, from which the system is built.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header text-center bg-primary">3</div>
                    <div class="card-body">
                        <h4 class="card-title text-center">Application</h4>
                        <p class="card-text text-center">A mobile application, also referred to as a mobile app or simply an app, is a computer program or software application designed to run on a mobile device.</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading"></h4>
                    <p class="mb-0">
                        I am happy to know you
                    </p>
                    <p>
                        that 300+ projects done sucessfully!.
                    </p>
                    <button type="button" class="btn btn-outline-primary">Hire me</button>
                </div>
            </div>

        </div>
    </div>
</section>
