@{
    ViewBag.Title = "Skills";
}
<h2 class="text-center bottomLine">@ViewBag.Title.</h2>
<section class="skills">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <blockquote class="blockquote">
                    <p class="mb-0"></p><small class="text-muted">The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</small>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"> 
                <h4>Skill 1</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                </div>
            </div>
            <br />
            <div class="col-md-6"> 
                <h4>Skill 2</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                </div>
            </div>
            <br />

        </div>
        <div class="row">
            <div class="col-md-6"> 
                <h4>Skill 3</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                </div>
            </div>
            <br />

            <div class="col-md-6"> 
                <h4>Skill 4</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated  bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Skill 5</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                </div>
            </div>
            <br />

            <div class="col-md-6">
                <h4>Skill 6</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="content">
        
        <div class="row">
            <div class="col-md-6">
                <h4>Skill 1</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                </div>
            </div>
            <br />
            <div class="col-md-6">
                <h4>Skill 2</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                </div>
            </div>
            <br />

        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Skill 3</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                </div>
            </div>
            <br />

            <div class="col-md-6">
                <h4>Skill 4</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated  bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Skill 5</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                </div>
            </div>
            <br />

            <div class="col-md-6">
                <h4>Skill 6</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                </div>
            </div>
        </div>
    </div>
</section>

